body {
  font-family: arial, sans-serif;
  overflow: hidden;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  letter-spacing: .02rem;
  font-size: 5vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
}

.nav {
  height: 80vh;
  width: 50vw;
  position: absolute;
  cursor: pointer;
}

#next {
  align-self: flex-end;
}

#back {
  align-self: flex-start;
}

#frame {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 80vh;
  position: relative;
}

@media only screen and (max-width: 900px) {

  #frame {
    max-width: 100%;
    justify-content: stretch;
    flex-flow: column;
    position: static;
  }

  button {
    position: absolute;
    width: 40vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    color: rgba(255, 0, 0, 0);
  }
  #next {
    right: 0;
  }
  #back {
    left: 0;
  }
}

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

#info {
  height: 8vh;
  display: flex;
  align-items: center;
  padding-bottom: 2vh;
}

.hidden {
  visibility: hidden;
}

.disabled:focus {
  outline: none;
}
