body {
  font-family: helvetica, arial, sans-serif;
  overflow: hidden;
  position: relative;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
  max-height:90%;
}

.nav {
  height: 80vh;
  width: 50vw;
  position: absolute;
  cursor: pointer;
}

#title {
  font-size: 2rem;
  margin-bottom: -0.5rem;
}

#collection {
  position: absolute;
}

#main-header {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  letter-spacing: .02rem;
  font-size: 1rem;
}

#next {
  align-self: flex-end;
}

#back {
  align-self: flex-start;
}

#frame {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
}

@media only screen and (max-width: 900px) {

  #frame {
    max-width: 100%;
    justify-content: stretch;
    flex-flow: column;
    position: static;
    height: 80vh;
  }

}

#loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

#info {
  height: 8vh;
  display: flex;
  align-items: center;
  padding-bottom: 2vh;
}

.hidden {
  visibility: hidden;
}

.disabled:focus {
  outline: none;
}
